<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Today's dinner is {{picked}} </h1>
    
    <p>[Print menu]</p>
    <p>
    {% for menu in menus %}
        <li>{{menu}}</li>
    {% endfor %}
    </p>
    
    <p>[IF]</p>
    <p>
    {% if picked == 'chicken' %}
        치킨 존맛탱
    {% else %}
        this is not chicken. this is {{picked}}
    {% endif %}
    </p>
    
</body>
</html>