<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>내 번호 : {{ lottos }} </p>
    <p>당첨 번호 : {{ real_lottos }}</p>
    
    <p>
        {% for my_lotto in lottos %}
            {% for real_lotto in real_lottos %}
                {% if my_lotto == real_lotto %}
                    맞음 
                {% else %} 
                    실패
                {% endif %}
            {% endfor %}
        {% endfor %}
    </p>
    
    <p>
        {% if lottos == real_lottos %}
            당첨
        {% else %}
            ㅎ...
        {% endif %}
    </p>
    
</body>
</html>